a{
    text-decoration: none;
}

.input{
    width: 100%;
    box-sizing: border-box;
    border-style: solid;
    padding-left: 10px;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 7px;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    border-color: rgba(26, 0, 0, 0.664);
}

.button{
    font-weight: bold;
}

.button-red{
    background-color: #e63946;
    color: #f1faee;
    cursor: pointer;
    border-color: #e63946;
}

.button-red:hover{
    background-color: #f1faee;
    color: #e63946;
    transition: 0.1s;
}

select{
    border: 2px;
    border-color: rgba(26, 0, 0, 0.664);
}

.label{
    text-align: start;
    font-weight:100;
}

.button-search{
    width: 80px;
    text-align: center;
    padding: 0;
}

.button-akun{
    border-radius: 20px;
    background-color: white;
    border-style: solid;
    border-color: #e63946;
    padding: 0 10px;
    color: #e63946;
    font-size: 15px;
    transition: 0.2s;
}

.button-akun:hover{
    background-color: #e63946;
    color: white;
    border-color: #e63946;

}

.button-akun-blue{
    border-radius: 20px;
    background-color: white;
    border-style: solid;
    border-color: #2e6dcc;
    padding: 0 10px;
    color: #2e6dcc;
    font-size: 15px;
    transition: 0.2s;
}

.button-akun-blue:hover{
    background-color: #2e6dcc;
    color: white;
    border-color: #2e6dcc;

}

.button-akun-edit{
    width: 200px;
    
}