.label{
    font-weight: 100;
    text-align: start;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.829);
}

.bold{
    font-weight: bold;
}

.justify{
    text-align:justify;
}

.align-start{
    text-align: start;
}

.line-height-35px{
    line-height: 35px;
}

.f-weight-light{
    font-weight: 100;
}

.v-align-mid{
    vertical-align: middle;
}

.title{
    font-size: 22px;
}